@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a {
    font-family: "Signika", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    list-style: none;
}

.logo{
    padding-top: 10px;
    width: 10%;
    padding-bottom: 20px;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0efef;
}

.links{
    display: flex;
    padding-left: 50px;
    gap: 25px;
    padding-top: 10px;
}

.accessability, img{
    display: flex;
    padding-top: 10px;
    width: 20%;
}

.hotdeals{
    margin-top: -10px;
}

.hotdeals img{
    width: 100%;
    height: auto;
    max-height: 600px; 
    object-fit:cover; 
    display: block;

}

.hotdeals_slides {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leftButton {
    width: 100px;
    height: auto;
    cursor: pointer;
    background-image: url('leftButton.png');
    background-size: contain;
    background-position: left;
    margin-right: 10px;
    border: none;
    position: absolute;
    transform: translateX(-50%);
}
